{% extends "hunt/layout.tmpl" %}
{% load static %}
{% load humanize %}

{% block title %}MIT Mystery Hunt 2021{% endblock %}

{% block stylesheets %}
<style>
html {
  height: 100%;
  overflow: auto;
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 10%);
  backdrop-filter: blur(2px);
  padding: 14px 20px;
}

.navbar-left {
  font-size: 18px;
  font-weight: bold;
  color: #f0eca3;
}

.navbar-right {
  font-size: 15px;
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

main form {
  max-height: 100%;
  overflow: auto;
  text-align: center;
}

main p {
  margin: 10px;
}

main input:hover {
  outline-color: #f0eca3 !important;
}

#error {
  color: #f0eca3;
  text-transform: uppercase;
  font-size: 24px;
}

#team, #pass {
  font-size: 30px;
  font-family: inherit;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  border: none;
  outline: 1px solid white;
}

#submit {
  padding: 0 20px;
  height: 64px;
  box-sizing: border-box;
  background: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 64px;
  border: none;
  outline: 1px solid white;
  cursor: pointer;
}
</style>
{% endblock %}

{% block content %}
<nav class="navbar">
  <div class="navbar-left">Yew Labs</div>
  <div class="navbar-right">Massachusetts Institute of Technology</div>
</nav>

<main>
  <form method="POST">
    {% if error %}<p id="error">{{ error }}</p>{% endif %}
    {% csrf_token %}
    <p><input id="team" type="text" name="team" size="24" autocomplete="off" autofocus></p>
    <p><input id="pass" type="password" name="pass" size="24" autocomplete="off"></p>
    <input id="next" type="hidden" name="next" value="{{ next }}">
    <p><input id="submit" type="submit" value="login"></p>
    <p><input id="submit" type="submit" name="public" value="public access"></p>
  </form>
  <div class="cambridge1">
    <div class="cambridge2">
      <div class="cambridge3"></div>
      <div class="cambridge4"></div>
      <div class="cambridge5"></div>
    </div>
  </div>
  <div id="credit">map © OpenStreetMap contributors</div>
</main>

<style>
.cambridge1 {
  filter: drop-shadow(0px 0px 4px rgb(244, 224, 243));
  overflow: hidden;
  position: absolute;
  z-index: -1;
  padding-top: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.cambridge1 div {
  position: absolute;
}

.cambridge2 {
  top: 0;
  left: -50%;
  right: -50%;
  height: 100%;
  margin-top: -25%;
  -webkit-mask: url({% static 'art/cambridge.svg' %});
  -webkit-mask-mode: alpha;
  -webkit-mask-size: 100% 100%;
  mask-image: url({% static 'art/cambridge.svg' %});
  mask-mode: alpha;
  mask-size: 100% 100%;
}

.cambridge3 {
  top: 0;
  left: 25%;
  width: 50%;
  height: 100vh;
  margin-top: 12.5%;
  opacity: 0.25;
  background-image: radial-gradient(
      rgba(244, 224, 243, 0.10) 0%,
      rgba(244, 224, 243, 0.25) 25%,
      rgba(244, 224, 243, 1.00) 100%);
}

.cambridge4 {
  top: 50vh;
  left: 25%;
  width: 50%;
  height: 100%;
  margin-top: -12.5%;
  opacity: 0.5;
  transform: scale(0.75);
  background-image: url({% static 'yew_logo.png' %});
  background-size: contain;
}

.cambridge5 {
  top: 0;
  left: 25%;
  width: 50%;
  height: 100vh;
  margin-top: 12.5%;
  opacity: 0.5;
  background-image: radial-gradient(
      rgba(244, 224, 243, 0.25) 25%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 1) 100%);
}

#credit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  opacity: 0.5;
}
</style>
{% endblock %}
